<!DOCTYPE html>
<!--
Gastric Bypass Train: Sam, Anna, Sadi
6 November, 2022
-->

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<h2>[PLACEHOLDER] TITLE</h2>
  <p> [PLACEHOLDER] PREV LINE TEXT</p>
  <br>
  <!-- allow the user to add a new line of text -->
  <form action="/" method="post">
		<input type="text" name="your line">
		<input type="submit">
	</form>
  <!--button to get back to homepage-->
  <form action="/return_to_homepage" method="get">
    <input type="submit" class="return" value="return">
  </form>
</body>

</html>
