<!DOCTYPE html>
<!--
Gastric Bypass Train: Sam, Anna, Sadi
6 November, 2022
-->
<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
<!--view table with stories-->
<h2>Homepage</h2>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Link</th>
    </tr>
    <tr>
      <td>PLACEHOLDER</td>
      <td>PLACEHOLDER</td>
    </tr>
  </thead>
</table>
<br>
<!--area for new story creation-->
<h2>Create a New Story</h2>
<form action="/" method="post">
  <input type="text" name="title">
  <br>
  <input type="text" name="opening">
  <br>
  <input type="submit" class="create story" value="create story">
</form>
<br>
<form action="/logout" method="get">
  <input type="submit" class="log out" value="log out">
</form>

</body>

</html>
