<!DOCTYPE html>
<!--
Gastric Bypass Train: Sam, Anna, Sadi
6 November, 2022
-->

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
    <!-- login -->
	<h2>LOGIN</h2>
	<form action="/" method="post">
		<input type="text" name="username">
		<br>
		<input type="text" name="password">
		<br>
		<input type="submit" class="log in" value="log in">
	</form>
  <!-- register -->
  <br>
  <h2>SIGN UP</h2>
	<form action="/" method="get">
		<input type="text" name="username">
		<br>
		<input type="text" name="password">
		<br>
		<input type="submit" class="log out" value="log out">
	</form>
</body>

</html>
