<!DOCTYPE html>
<!--
Gastric Bypass Train: Sam, Anna, Sadi
6 November, 2022
-->

<html>

<head>
<link rel ="stylesheet" type="text/css" href="static/style.css">
</head>

<body>
	<h2>{{title}}</h2>
  <p class=centerThis>{{story}}</p>
  <br>
  <!-- allow the user to add a new line of text -->
  <form action="/submission" method="post">
		<textarea type="text" name="your line" class="appearLarger"></textarea>
		<br>
		<input type="submit">
	</form>
  <!--button to get back to homepage-->
  <form action="/homepage" method="get">
    <input type="submit" class="return" value="return">
  </form>
</body>

</html>
